<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/a5fc0a67-88dd-4563-9b7d-1a5537c5e997/resourceGroups/RSG-RCGPPT-ST10448422-SANORTH/providers/Microsoft.Web/sites/DJPromoWebApp20261006222110</ResourceId>
    <ResourceGroup>RSG-RCGPPT-ST10448422-SANORTH</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://djpromowebapp20261006222110-e2b6bcf7f5cwgbhm.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ffc7f7e0-512a-bddd-461a-c0b4857939f5</ProjectGuid>
    <PublishUrl>https://djpromowebapp20261006222110-e2b6bcf7f5cwgbhm.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>